.formContainer {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
  gap: 8px;
  align-items: stretch;
  max-width: 400px;
  font-family: "Roboto", "arial", "sans-serif";
}

.formContainer > input {
  background-color: #1b1a17;
  color: #d9d9d9;
  border-radius: 7px;
  border: 1px solid #ff8303;
  padding: 5px;
}

.formContainer input:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
}

/* .formContainer input:nth-child(2) { */
.formContainer textarea {
  background-color: #1b1a17;
  color: #d9d9d9;
  border-radius: 9px;
  border: 1px solid #ff8303;
  padding: 5px;
  resize: none;
  overflow: hidden;
  grid-column: 1;
  grid-row: 2;
  /* height: auto; */
}

.formContainer > input:focus {
  color: #f0e3ca;
}

.addButton {
  grid-column: 2;
  grid-row: 1 / 3;

  background-color: #1b1a17;
  color: #ff8303;
  font-weight: bold;
  border-radius: 5px;
  border: 2px solid #ff8303;
}
