.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #fff;
}

.container > div {
  font-family: "Inter", "Arial", sans-serif;
  width: 70%;
  height: 1px;
  border-radius: 3px;
  background-color: #ff8303;
}
